<%- include('partials/header') %>
<div class="upload">
    <div class="container">
        <form action="/" method="POST" enctype="multipart/form-data">
            <div class="cv-area">
                <h3 class="maintext"> <span class="dragdrop">Drag & Drop or</span> <span class="browse"> Browse </span>
                </h3>
                <h3 class=".file-name"></h3>
                <input type="file" name="cv" id="cv" accept=".pdf" hidden />
            </div>
            <button type="submit" class="UploadButton">Upload</button>
        </form>
    </div>
</div>
<script src="/script.js"></script>
</body>