<%- include('partials/header') %>
<main>
  <ul class=".jobs">
    <% if (jobs.length === 0) { %>
    <p>No jobs available at the moment.</p>
    <% } else { %>
    <% jobs.forEach(function(job) { %>
    <li>
      <div class="job">
        <h2 class="title"><%= job.title %></h2>
        <p class="location"><%= job.location %></p>
        <button class="button">Apply</button>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</main>
